
/* common*/
* { 
    padding : 0; 
    margin : 0;
    /*border: 0;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
#container{
    min-height: 85vh;
    padding-top: 10vh;
    margin-bottom: 40px;
}
hr{
    z-index: 99999;
}
a, p, span, button {
    text-decoration: none;
    color: #616161;
}
ol, ul, li {
    list-style: none;
}
div{
    /* margin: 5px; */
    /* border: 1px solid #616161; */
}
span{
  /* color: #ffffff; */
  font-weight: bold;
}
input, button, textarea{
    position: relative;
    right: 0;
}
table{
  border-collapse: separate; 
  border-spacing:10px 17px;
}
.select-cate-div{
    width: 1130px;
    font-size: 32px;
    margin: 40px auto;
    padding: 7px 27px;
    /* border: 1px solid #616161; */
    border-radius: 3px;
    background-color: rgb(17, 147, 218);
    box-shadow: 3px 3px 5px;
}
.select-cate-div .title{
  color: white;
}
#select-flex-div{
  display: flex;
}
.select{
    font-size: 18px;
    margin: 0 0 0 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
#localSelect{
  width: 300px;
  display: flex;
}
#search{
  width: 400px;
  margin: 0.5px;
  float: right; /*오른쪽 정렬*/
}
/* 모임리스트 */
.group-list-container{
    position: relative;
    margin: 10px auto;
    width: 1130px;
    min-height: 800px;
    overflow: hidden;
}
.group-list-container .item{
    width: 182px;
    height: 200px;
    float: left;
    /* display: inline-block; */
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    margin: 50px;
    text-align: center;
}
.group-list-container ul{
  margin: 0 0 40px 0;
}
.group-list-container .item .image, .popup-img{
    width: 100%;
    height: 200px;
    background-image: url(../교육.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.group-list-container .item .group-name{
    font-size: 24px;
    height: 33px;
    margin: 10px 0;
}
button.btn-show{
  background-color: #ffffff;
  width: 206px;  
  height: 208px; 
  border: 2px solid rgb(17, 147, 218);
  border-radius: 31px;
}





/* 모달 */
.background , .report-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(197, 187, 187, 0); */

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 8;
    transition: all 0.3s;
    border: 4px solid rgb(17, 147, 218);
  }
  

  .window, .report-window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #apply-form-btn{
    position: relative;
    margin: 28px auto;
    color: white;
    background-color: rgb(17, 147, 218);
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    width: 336px;
    height: 45px;
    font-size: 14px;
}
#apply{
  position: relative;
  margin: 28px 79px 28px;
  color: white;
  background-color: rgb(17, 147, 218);
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  width: 336px;
  height: 45px;
  font-size: 14px;
}
.btn-close{
  position: absolute;
  right: 0;
}



  .popup, .report-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 34px 30px 6px rgba(0, 0, 0, 0.3);
    width: 500px;
    min-height: 565px;
    text-align: center;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
    border: 2px solid rgb(17, 147, 218);
  }
  .popup-group-name{
    font-size: 24px;
    margin: 21px 0 0 0;
}
  .popup-group-content{
      margin: 14px auto;
      width: 440px;
      min-height: 265px;
      border: 2px solid rgb(17, 147, 218);
  }
  

  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.3s;
  }

  .report-popup{
      text-align: justify;
      top: 45%;
      
  }
  /* 가입신청서 */
  .report-group-name{
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    height: 65px;
    margin: 43px auto;
    text-align: center;
  }
  .report-form{
    margin: 14px auto;
    width: 440px;
    min-height: 265px;
    border: 2px solid rgb(17, 147, 218);
  }
  .report-form-title{
    margin: 11px 0 0 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  .report-form table{
    margin: 25px auto;
  }
  tr td input[type="text"]{
    margin: 0 0 17px 41px;
  }
  .report-background table input {
    height: 30px;
  }
  
  .report-comment{
    margin: 10px 30px;
  }


