
/* common*/
* { 
    padding : 0; 
    margin : 0;
    /*border: 0;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
#container{
    min-height: 85vh;
    padding-top: 10vh;
    margin-bottom: 40px;
}.item-div
hr{
    z-index: 99999;
}
a, p, span, button {
    text-decoration: none;
    color: #616161;
}
ol, ul, li {
    list-style: none;
}
div{
    /* margin: 5px; */
    /* border: 1px solid #616161; */
}
span{
  /* color: #ffffff; */
  font-weight: bold;
}
input, button, textarea{
    position: relative;
    right: 0;
}
table{
  border-collapse: separate; 
  border-spacing:10px 17px;
}
.select-cate-div{
    width: 1100px;
    font-size: 32px;
    margin: 40px auto 1px;
    padding: 7px 40px;
    /* border: 1px solid #616161; */
    border-radius: 3px;
    border:1px solid rgb(17, 147, 218);
}
.select-cate-div .title{
  color: rgb(17, 147, 218);
}
#select-flex-div{
  display: flex;
}
.select{
    font-size: 18px;
    margin: 0 0 0 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
#localSelect{
  width: 300px;
  display: flex;
}
#search{
  width: 400px;
  margin: 0.5px;
  float: right; /*오른쪽 정렬*/
}
/* 모임리스트 */
.group-list-container{
    position: relative;
    margin: 10px auto;
    padding: 5px 0 0 0;
    width: 1100px;
    min-height: 800px;
    overflow: hidden;
}
.group-list-container .item{
    float: left;
    /* display: inline-block; */
}
.item-div{
  width: 333px;
  height: 330px;
  /* border: 1px solid rgb(192, 192, 192); */
  margin: 0 20px 20px 0;
  border-radius: 10px;
}
#handlebars-container li:nth-child(5){

}
.item-div:hover{
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.group-list-container ul{
  margin: 0 0 40px 0;
}
.popup-img-div{
  margin: 0 auto;
  width: 100%;
  height: 300px;
}
.group-list-container .item .image-div{
    width: 100%;
    height: 300px;
    /* background-image: url(../교육.jfif);
    background-repeat: no-repeat;
    background-size: cover; */
}
img{
  width: 100%;
  height: 100%;
}
li img {
  border-radius: inherit;
}
.group-list-container .item .group-name-div{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(237, 237, 237);
  border-radius: inherit;
}

.group-list-container .item .group-name-div .group-name{
  padding: 0 8px;
  width: 65%;
  margin: auto 0;
  height: 72%;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  overflow: auto;
  scrollbar-width: none;
}
.group-list-container .item .group-name-div .group-name::-webkit-scrollbar {
  display: none; 
}
.group-list-container .item .group-name-div .group-info{
  position: relative;
  width: 43%;
  display: inline-block;
  font-size: 12px;
}
.group-list-container .item .group-name-div .memb-count{
  position: absolute;
  bottom: 5px;
  left: 0;
}
.material-icons{
  vertical-align: middle;
}
button.btn-show{
  background-color: #ffffff;
  width: 100%;  
  height: 80%; 
  border: none;
  border-radius: inherit;
}





/* 모달 */
.background , .report-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(197, 187, 187, 0); */
    background: rgba(20, 20, 20, 0.3);
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 8;
    transition: all 0.3s;
    border: 4px solid rgb(17, 147, 218);
  }
  

  .window, .report-window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #apply-form-btn{
    position: relative;
    margin: 28px auto;
    color: rgb(17, 147, 218);
    border: 1px solid rgb(17, 147, 218)!important;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    width: 336px;
    height: 45px;
    font-size: 14px;
}
#apply{
  position: relative;
  margin: 28px 79px 28px;
  color: rgb(17, 147, 218);
  border: 1px solid rgb(17, 147, 218)!important;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  width: 336px;
  height: 45px;
  font-size: 14px;
}
.btn-close, .btn-close2{
  position: absolute;
  right: 0;
}



  .popup, .report-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 34px 30px 6px rgba(0, 0, 0, 0.3);
    width: 415px;
    min-height: 600px;
    text-align: center;
    padding: 1px;
    border-radius: 10px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
    border: 1px solid rgb(222, 226, 230);
    z-index: 5;
  }
  .popup-group-name{
    font-size: 24px;
    margin: 21px auto 0 ;
    width: 90%;
}
  .popup-group-content{
      margin: 14px auto;
      width: 333px;
      min-height: 150px;
      border: 1px solid rgb(192, 192, 192);
      border-radius: 20px;
  }
  .report-form{
      margin: 14px auto;
      width: 440px;
      min-height: 265px;
      border: 1px solid rgb(192, 192, 192);
      border-radius: 20px;
  }
  .popup-group-content{
    padding: 20px;
  }
.main-logo, .main-logo2{
  border-radius: 10px;
}
  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.3s;
  }

  .report-popup{
      text-align: justify;
      top: 45%;
      
  }
  /* 가입신청서 */
  .report-img-div{
    width: 100%;
    text-align: center;
    height: 300px;
  }
  .report-form-title{
    margin: 11px 0 0 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  .report-form table{
    margin: 25px auto;
  }
  tr td input[type="text"]{
    margin: 0 0 17px 41px;
  }
  .report-background table input {
    height: 30px;
  }
  
  .report-comment{
    margin: 18px 41px;
  }


