
/* common*/
* { 
    padding : 0; 
    margin : 0;
    /*border: 0;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
#container{
    
}
hr{
    z-index: 99999;
}
a, p, span, button {
    text-decoration: none;
    color: #616161;
}
ol, ul, li {
    list-style: none;
}
div{
    /* margin: 5px; */
    /* border: 1px solid #616161; */
}
input, button, textarea{
    position: relative;
    right: 0;
}
table{
  border-collapse: separate; 
  border-spacing:10px 17px;
}
.select-cate-div{
    min-width: 1280px;
    width: 91vw;
    font-size: 32px;
    margin: 40px auto;
    padding: 7px 27px;
    border: 1px solid #616161;
    border-radius: 3px;
}
.select{
    font-size: 18px;
    margin: 0 0 0 56px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
/* 모임리스트 */
.group-list-container{
    position: relative;
    margin: 0 auto;
    min-width: 1280px;
    width: 91vw;
    min-height: 80vh;
    
}
.group-list-container .item{
    width: 280px;
    height: 200px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    margin: 60px 60px;
    text-align: center;
}
.group-list-container .item .image, .popup-img{
    width: 100%;
    height: 200px;
    background-image: url(../교육.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.group-list-container .item .group-name{
    font-size: 24px;
}

.group-list-container .page{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* 모달 */
.background , .report-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(197, 187, 187, 0); */

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }

  .show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
  }
  

  .window, .report-window {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #close, #apply{
    position: absolute;
    right:77px;
    bottom: 28px;
    color: white;
    background-color: rgb(17, 147, 218);
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    width: 336px;
    height: 45px;
    font-size: 14px;
}

  .popup, .report-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    width: 500px;
    height: 700px;
    text-align: center;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
    border: 2px solid rgb(17, 147, 218);
  }
  .popup-group-name{
    font-size: 24px;
    margin: 21px 0 0 0;
}
  .popup-group-content{
      margin: 14px auto;
      width: 440px;
      height: 335px;
      border: 2px solid rgb(17, 147, 218);
  }
  

  .show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  .report-popup{
      text-align: justify;
  }
  /* 가입신청서 */
  .report-group-name{
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    height: 65px;
    margin: 43px auto;
    text-align: center;
  }
  .report-form{
    font-size: 16px;
    margin: 14px auto;
    width: 440px;
    height: 335px;
    border: 2px solid rgb(17, 147, 218);
  }
  .report-form-title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  .report-form div:nth-child(2){
    background-color: red;
  }

