
/* common*/
* { 
    padding : 0; 
    margin : 0;
    /*border: 0;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
#container{
    padding-top: 10vh;
    min-height: 80vh;
}
hr{
    z-index: 99999;
}
a, p, span, button {
    text-decoration: none;
    color: #616161;
}
ol, ul, li {
    list-style: none;
}
div{
    /* margin: 5px; */
    /* border-width: 1px;
    border-style: solid;
    border-color: #616161; */
}
input, button, textarea{
    position: relative;
    right: 0;
}

h1{
    margin-bottom: 10px;
}
div .group-cate{

}
.photo1{
 background-color: blue;
}
.photo2{}
.photo3{}
.photo4{}
.photo5{}
.photo6{}
.photo7{}
.photo8{}
.photo9{}
.photo10{}
.photo11{}
.photo12{}
.photo13{}
.photo14{}
.photo15{}
.photo16{}
.photo17{}
.photo18{}
.photo19{}
.photo20{}
.photo21{}
.photo22{}