
/* common*/
* { 
    padding : 0; 
    margin : 0;
    /*border: 0;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

#container{
    
}
hr{
    z-index: 99999;
}
a, p, span, button {
    text-decoration: none;
    color: #616161;
}
ol, ul, li {
    list-style: none;
}
div{
    /* margin: 5px;  */
    /* border: 1px solid #616161; */
}

button {
    /* color: white;
    background-color: rgb(17, 147, 218);
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    width: 60px;
    height: 27px;
    font-size: 14px; */
}
.btn {
    color: white;
    background-color: rgb(17, 147, 218);
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}
.menu-container{
    text-align: center;
    /* width: 100%; */
}
.group-title{
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    margin: 0,auto;
}
.group-cate-btn{
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    width: 138px;
    height: 40px;
    margin: 5px 5px;
    font-size: 12px;
    overflow: hidden;
}
