/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: rgb(17, 147, 218);
}

header .inner {
  background-color: rgb(17, 147, 218);
  width: 1130px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

header .logo img {
  width: 75px;
  height: 75px;
}

header .cate {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 40px;
  left: 80px;
}

header .cate .search {
  position: relative;
}

header .cate .search input {
  margin-left: 3px;
  width: 160px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

header .cate .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 5px;
}

header .main-menu {
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .main-menu ul.menu {
  display: flex;
}

header .main-menu ul.menu li {
  padding: 10px 10px;
}

header .main-menu ul.menu li:nth-child(3) {
  padding: 0 10px;
}


header .main-menu ul.menu li:last-child {
  padding: 5px 10px;
}

header .main-menu ul.menu li a {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

header .main-menu ul.menu li a .material-icons {
  font-size: 50px;
}