/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  overflow-y: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
}