.my-info {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 700px;
  height: 1000px;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.profile-img {
  position: relative;
  height: 115px;
  width: auto;
}
.img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 80px 0px 0px 140px;
  font-size: 14px;
}
.img-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80px;
  max-height: 110px;
  margin-left: 180px;
}
.form-select {
  margin-bottom: 10px;
}
.form-select:hover {
  cursor: pointer;
}
.my-category {
  margin-top: 20px;
  padding: 20px 60px;
}
.category-wrap {
  display: flex;
  vertical-align: middle;
  margin: 3px;
}
#edit-btn {
  position: absolute;
  right: 0; bottom: 0;
  margin-right: 50px;
  margin-bottom: 20px;
}