.group-wrap {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
}
.card > img {
  width: auto;
  height: 180px;
}
.card-body {
  width: 180px;
  height: auto;
  text-align: center;
  justify-content: center;
}
.card-title {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
 }
 tbody:first-child {
 border-top: 1px solid black;
 }
 .g-title {
   max-width: 200px;
 }
 .g-group {
   max-width: 200px;
 }