<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders> <!-- 장비를 정의하는것이다. -->
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%-5level] %d{yyyy-MM-dd} [%t] %c{1} - %msg%n" /> <!-- 5level 디버그, 날짜 스레드 이름  -->
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.bts.yomojomo" level="debug">
      <AppenderRef ref="stdout" />
    </Logger>
    <Root level="info">
      <AppenderRef ref="stdout" />
    </Root>
  </Loggers>
</Configuration>