.my-info {
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  width: 700px;
  height: 1300px;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.profile-img {
  position: relative;
  height: 240px;
  width: auto;
}
.img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 180px;
  font-size: 14px;
}
.img-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 150px;
  max-height: 200px;
  margin-left: 180px;
}
.default-thumbnail {
  position: absolute;
  right: 0; bottom: 0;
  margin-right: 215px;
  margin-bottom: 42px;
}
.form-select {
  margin-bottom: 10px;
}
.form-select:hover {
  cursor: pointer;
}
.editing-table {
  margin-top: 20px;
  padding: 10px 60px;
}
.local-wrap {
  display: flex;
  vertical-align: middle;
  margin: 3px;
}
.category-wrap {
  display: flex;
  vertical-align: middle;
  margin: 3px;
}
#edit-btn {
  position: absolute;
  right: 0; bottom: 0;
  margin-right: 50px;
  margin-bottom: 20px;
}
.notice {
  font-size: 16px;
}