
<div class="m-container inbox"></div>



<script src="/node_modules/handlebars/dist/handlebars.js"></script>
<script id="div-get" type="text/x-handlebars-template">
		<form name="data" id="data">
			<div class="shadow p-5">
				<div class="row mb-5">
					<h1>공지사항</h1>
				</div>
				<div class="row mb-2 top">
					<div class="row">
						<div class="col text-start mt-3 mb-2 fs-4 fw-bold">제목 : {{title}} </div>
						<div class="col"></div>
					</div>
					<div class="border-5 border-bottom border-dark"></div>
					<div class="row">
						<div class="col p-2 text-start">작성자 : 운영자 / {{regDate}} </div>
						<div class="col p-2 text-end">유형 : {{mcate.name}}</div>
					</div>
					<div class="border-1 border-bottom border-dark"></div>
					<div class="text-start mt-5 mb-5 fs-5 fw-bold">
						<pre>{{content}}</pre> 
					</div>
					<div class="border-3 border-bottom border-dark""></div>
					<div class="row mt-3">
					<div class="col"></div>
					<div class="row">
						<div class="col"></div>
						<div class="col"></div>
						<div class="col"></div>
						<div class="col">
							<button type="button" class="btn btn-primary update-btn" value={{no}}>수정</button>
							<button type="button" class="btn btn-danger delete-btn" value={{no}}>삭제</button>
							<button type="button" class="btn btn-secondary cancel-btn">취소</button>
						</div>
					</div>
				</div>
			</div>
		</form>
</script>
</body>
</html>